{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Categoria {% endblock %}
{% block content %}
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="col-lg-7">
          <div class="p-5">
            <form method="POST">
              {% csrf_token %} 
              {{form_categoria|crispy}}
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}