{% extends 'layout.html' %}

{% block title%} Categoria {% endblock%}
{% block content %}
    <table border="1">
      <tr>
        <td>Categoria</td>
      </tr>

      {% for categoria in categoria_chave %}
      <tr>
        <td>{{ categoria.categoria}}</td>
        <td>
          <a href="{% url 'url_atualizar_categoria' categoria.id %}">
            editar
          </a>
        </td>
        <td>
          <a href="{% url 'url_deletar_categoria' categoria.id %}"> deletar </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'url_criar_categoria' %}"> Criar nova categoria</a>
    <i class="bi bi-house-fill"></i>
{% endblock %}